/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/* Content style and TOC
  ======================== */
.section-nav a {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #06c;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  font-size: 18px !important; }

/* Icons
  ======================== */
.Icon-medium:before {
  content: "\4d"; }

.Icon-github:before {
  content: "\67"; }

.Icon-youtube:before {
  content: "\59"; }

.Icon-linkedin::before {
  content: "\4c"; }

.newsletter-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0 auto; }
  .newsletter-wrapper .newsletter-background {
    position: absolute;
    top: -57px;
    left: 0;
    right: 0;
    width: 100%;
    height: 160px; }
    .newsletter-wrapper .newsletter-background.blue {
      z-index: -2;
      transform: translateY(70px); }
      .newsletter-wrapper .newsletter-background.blue .left {
        transform: skewY(10deg);
        transform-origin: 0 0; }
      .newsletter-wrapper .newsletter-background.blue .right {
        transform: skewY(-10deg);
        transform-origin: 100% 0; }
    .newsletter-wrapper .newsletter-background.grey {
      z-index: -1;
      transform: translateY(70px); }
      .newsletter-wrapper .newsletter-background.grey .left {
        transform: skewY(-7deg);
        transform-origin: 100% 0; }
      .newsletter-wrapper .newsletter-background.grey .right {
        transform: skewY(15deg);
        transform-origin: 0 0; }

.tools-wrapper {
  position: relative; }
  .tools-wrapper .tools-shadow {
    color: #06c;
    font-size: 30em;
    font-weight: bold;
    height: 100%;
    position: absolute;
    text-align: center;
    text-shadow: 0 -30px 100px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: -1; }
    @media screen and (max-width: 1350px) {
      .tools-wrapper .tools-shadow {
        font-size: 25em; } }
    @media screen and (max-width: 1225px) {
      .tools-wrapper .tools-shadow {
        font-size: 20em; } }
    @media screen and (max-width: 991px) {
      .tools-wrapper .tools-shadow {
        font-size: 15em; } }
    @media screen and (max-width: 688px) {
      .tools-wrapper .tools-shadow {
        font-size: 10em; } }
    @media screen and (max-width: 443px) {
      .tools-wrapper .tools-shadow {
        font-size: 5em; } }

/* Project page background
  ======================== */
#github-screenshot {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  /* handle short pages nicely */
  max-height: 100%;
  z-index: -1; }
  @media screen and (max-width: 1280px) {
    #github-screenshot {
      right: -25%; } }
  @media screen and (max-width: 1024px) {
    #github-screenshot {
      display: none; } }
  #github-screenshot img {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
    mask-image: linear-gradient(black 0%, transparent 100%);
    transform: translate(10%, 0) rotate(0.1rad);
    transform-origin: 0 100%; }

/* Project shadows
  ======================== */
#main {
  overflow: hidden; }
  #main .project-title-wrapper {
    position: relative;
    z-index: 0; }
    #main .project-title-wrapper .project-shadow1 {
      color: #06c;
      font-size: 112px;
      line-height: 170px;
      font-weight: bold;
      position: absolute;
      text-align: center;
      text-overflow: clip;
      text-shadow: 0 -30px 100px rgba(0, 0, 0, 0.2);
      top: 5px;
      left: 0;
      white-space: nowrap;
      z-index: -1;
      user-select: none; }
    #main .project-title-wrapper .project-shadow2 {
      color: #0059B3;
      font-size: 120px;
      font-weight: bold;
      line-height: 183px;
      position: absolute;
      text-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
      top: -0.2em;
      z-index: -2;
      user-select: none; }

/* Footer
  ======================== */
@media screen and (min-width: 992px) {
  .td-footer {
    margin-top: -2em; } }
.td-footer .team-bar {
  border-right: 1px solid #fff;
  height: 3.5em;
  margin-top: 4px;
  width: 10px !important; }

/* Megamenu
  ========= */
.Megamenu--default .Megamenu-subnavGroup > li {
  width: auto !important; }

.Megamenu-item--vert .Megamenu-subnavGroup {
  display: block !important;
  border-bottom: 1px solid #eee; }

.Megamenu-item--vert .Megamenu-subnavGroup:last-of-type {
  border-bottom: none; }

.Megamenu--default .Megamenu-subnavGroup > li,
.Megamenu--default .Megamenu-subnavGroup > li > ul > li {
  border-bottom: 1px solid #eee;
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important; }

.Megamenu--default .Megamenu-subnavGroup > li > a {
  text-transform: none !important;
  color: #004a4d !important; }

.Megamenu--default .Megamenu-subnavGroup > li > ul > li a {
  color: #06c !important;
  font-weight: 600 !important; }


.Megamenu--default .Megamenu-subnavGroup > li > a {
  font-size: 1em !important;
  color: #06c !important;
  font-weight: 600 !important; }

.Megamenu--default .Megamenu-subnavGroup li.Megamenu-showAll > a {
  padding-top: 1.5em !important;
  border-bottom: none !important;
  color: #004a4d !important;
  text-transform: uppercase !important; }

.Megamenu--default .Megamenu-area {
    padding-left: 0!important;
}

.ov-hidden {
  overflow : hidden;
}

.mt-40 {
  margin-top: 40px;
}

.titleSeparator {
  border-top: 2px solid #06c;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.titleSeparator .content {
  float: left;
  width: 80%;
}

.titleSeparator .title {
  background-color: #06c;
  float: right;
  color: white;
  text-transform: uppercase;
  font-size: larger;
  padding: 5px 20px;
  margin-top: -10px;
}

/* USER STORY */
.user-story-view h1 {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 500px;
}

.user-story-view h3 {
  margin-top: 50px;
}

.user-story-view .share {
  margin-top: 50px;
}

.user-story-view .share>span {
  color: #a0a0a0;
  font-size: 25px;
  margin-right: 50px;
}

.user-story-view .Footer-socialIcons {
  display: inline-block;
}

.user-story-view iframe {
  margin: 50px 0px;
}

.user-story-view .body {
  margin: 50px;
  font-size: 18px;
}

.user-story-view .image-container {
  margin: 20px auto;
}

.user-story-view .image-caption {
  background-color: #f4f4fa;
}

.user-story-view .image-caption p {
  padding: 8px;
}

.user-story-view .footer {
  margin-top: 50px;
  margin-bottom: 70px;
}

.user-story-view .user-box {
  margin-top: 40px;
}

.user-story-view .user-box img {
  height: 90px;
  background-color: #f4f4fa;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid #ccc;
  display: inline-block;
}

.user-story-view .user-box .user-caption h4 {
  color: #337ab7;
}

.user-story-view .user-box .user-caption {
  display: inline-block;
  margin-left: 20px;
  height: 70px;
  top: 15px;
  position: relative;
}
