
.ov-hidden {
    overflow : hidden;
}

.w-100 {
    width: 100%;
}

/* MARGIN */
.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}
  
.mt-40 {
    margin-top: 40px;
}

/* ICON */

a:hover Icon-* {
    text-decoration: none;
}


/* LINK */
:focus,
:active {
    outline:none!important;
    box-shadow: 0 0 0 white !important;    
} 



/* HOME */
.category-box {
    background-color: white;
    padding: 20px;
    margin-bottom: -15px;
}


.cols {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.category-box .category-item {
    border: 1px solid #f5f5f0;
    margin: 5px;
    text-align: left;
    padding: 5px 15px;
    font-size: large;
    cursor: pointer;
}

.category-box .category-item.active {
    border: 1px solid #06c;
    color:#06c;
}

.category-box .category-item:hover {
    background-color: #f5f5f0;
    color:black;
}

.category-box .category-item.active:hover {
    color:#06c;
}

.category-box .category-item img {
    height: 50px;
    margin-right: 20px;
}

/* CATEGORY FILTER */

.category-list .category-item {
    border: 1px solid #f5f5f0!important;
    margin: 5px;
    text-align: left;
    padding: 5px 15px;
    font-size: large;
    cursor: pointer;
    color:#333!important;
}

.category-list .category-item.active {
    border: 1px solid #06c!important;
    color:#06c!important;
}

.category-list .category-item:hover {
    background-color: #f5f5f0;
    color:black!important;
}

.category-list .category-item.active:hover {
    color:#06c!important;
}

.category-list .category-item img {
    height: 50px;
    margin-right: 20px;
}

/* LAYOUT TITLE */
.titleSeparator {
    border-top: 2px solid #06c;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
  
.titleSeparator .content {
    float: left;
    width: 80%;
}
  
.titleSeparator .title {
    background-color: #06c;
    float: right;
    color: white;
    text-transform: uppercase;
    font-size: larger;
    padding: 5px 20px;
    margin-top: -10px;
}

.titleSeparatorVert {
    /* border-top: 2px solid #06c; */
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}
.titleSeparatorVert .content {
    float: left;
    width: 50%;
}
.titleSeparatorVert .title {
    background-color: #06c;
    /* float: right; */
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 20px;
    margin-top: -10px;
    text-align: center;
}
  
/* USER STORY */
.user-story-view h1 {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 600px;
    color: #337ab7;
}
  
.user-story-view h3 {
    margin-top: 50px;
    color: #337ab7;
}
  
.user-story-view .share {
    margin-top: 50px;
    float: right;
}
  
.user-story-view .share>span {
    color: #a0a0a0;
    font-size: 25px;
    margin-right: 50px;
}
  
.user-story-view .Footer-socialIcons {
    display: inline-block;
}
  
.user-story-view iframe {
    margin: 50px 0px;
}
  
.user-story-view .body {
    margin: 50px;
    font-size: 18px;
}
  
.user-story-view .image-container {
    margin: 20px auto;
}
  
.user-story-view .image-caption {
    background-color: #f4f4fa;
}
  
.user-story-view .image-caption p {
    padding: 8px;
}
  
.user-story-view .footer {
    margin-top: 50px;
    margin-bottom: 70px;
}
  
.user-story-view .user-box {
    margin-top: 40px;
}
  
.user-story-view .user-box img {
    height: 90px;
    background-color: #f4f4fa;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid #ccc;
    display: inline-block;
}
  
.user-story-view .user-box .user-caption h4 {
    color: #337ab7;
}
  
.user-story-view .user-box .user-caption {
    display: inline-block;
    margin-left: 20px;
    height: 30px;
    
    position: relative;
}

  
/* HEADER */
  
.Header-owner {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    border-bottom: 1px solid #127ae2;
}

.anchor-none{
    text-decoration: none !important;
}

.img-avatar {
    border-radius: 50em;
    width: 36px;
    height: 36px;
    margin: 0 10px;
    vertical-align: middle
}