@charset "UTF-8";

/*START THEME 2 - RED*/

/*build.css*/
.theme2 .u-color-teal-50 {
    color: #771c0f!important
}

.theme2 .u-background-teal-50 {
    background-color: #771c0f!important
}

.theme2 .u-color-10 {
    color: #dba3aa!important
}

.theme2 .Linklist-link.Linklist-link--lev3,
.theme2 .u-background-10 {
    background-color: #dba3aa!important
}

.theme2 .u-color-20 {
    color: #dba3aa!important
}

.theme2 .Linklist-link.Linklist-link--lev2,
.theme2 .Linklist-link.Linklist-link--lev2:hover,
.theme2 .u-background-20 {
    background-color: #dba3aa!important
}

.theme2 .Header-owner,
.theme2 .u-color-40 {
    color: #7e7a7a!important
}

.theme2 .u-background-40 {
    background-color: #7e7a7a!important
}

.theme2 .Accordion--default .Accordion-link,
.theme2 .ErrorPage-subtitle,
.theme2 .ErrorPage-title,
.theme2 .Header-language-other a,
.theme2 .Linklist-link,
.theme2 .Linklist a,
.theme2 .Share-revealIcon.is-open,
.theme2 .Skiplinks>li>a,
.theme2 .u-color-50 {
    color: #770f0f!important
}

.theme2 .Bullets>li:before,
.theme2 .Share-revealIcon,
.theme2 .Share>ul>li,
.theme2 .u-background-50 {
    background-color: #770f0f!important
}

.theme2 .u-color-60 {
    color: #7e7a7a!important
}

.theme2 .u-background-60 {
    background-color: #7e7a7a!important
}

.theme2 .u-color-80 {
    color: #770f0f!important
}

.theme2 .Header-socialIcons [class*=" Icon-"],
.theme2 .Header-socialIcons [class^=Icon-] {
    background-color: #fff;
    color: #770f0f
}

.theme2 .Footer a {
    color: #fff
}

.theme2 .Linklist-link.Linklist-link--lev2,
.theme2 .Linklist-link.Linklist-link--lev2:hover,
.theme2 .Linklist-link.Linklist-link--lev3,
.theme2 .Linklist a:hover,
.theme2 .Megamenu--default .Megamenu-subnavGroup>li>a,
.theme2 .Treeview--default li[aria-expanded=true] li a,
.theme2 .Treeview--default li[aria-expanded=true] li a:hover,
.theme2 .Treeview--default li[aria-expanded=true] li li a,
.theme2 .Treeview--default li[aria-expanded=true] li li a:hover,
.theme2 .u-color-95 {
    color: #0e0c0c!important
}

.theme2 .ScrollTop,
.theme2 .u-background-95 {
    background-color: #0e0c0c!important
}

/* main.css */
.theme2 .section-nav a {
    color: #770f0f;
}

.theme2 .tools-wrapper .tools-shadow {
    color: #770f0f;
} 

.theme2 #main .project-title-wrapper .project-shadow1 {
    color: #770f0f;
}

.theme2 #main .project-title-wrapper .project-shadow2 {
    color: #7e7a7a;
}

.theme2 .Megamenu--default .Megamenu-subnavGroup > li > ul > li a {
    color: #770f0f !important;
}    
    
.theme2 .Megamenu--default .Megamenu-subnavGroup > li > a {
    color: #770f0f !important;
}

.theme2 .Header-slim li.delimiter a {
    border-right: 0.1rem solid #7e7a7a; 
}

.theme2 .Header-owner {
    border-bottom: 1px solid #7e7a7a;
}    

/*style.css*/
.theme2 .category-box .category-item.active {
    border: 1px solid #770f0f;
    color:#770f0f;
}

.theme2 .category-box .category-item.active:hover {
    color:#770f0f;
}

.theme2 .category-list .category-item.active {
    border: 1px solid #770f0f!important;
    color:#770f0f!important;
}

.theme2 .category-list .category-item.active:hover {
    color:#770f0f!important;
}

.theme2 .titleSeparator {
    border-top: 2px solid #770f0f;
}

.theme2 .titleSeparator .title {
    background-color: #770f0f;
}

/*.titleSeparatorVert {
     border-top: 2px solid #770f0f; 
}*/

.theme2 .titleSeparatorVert .title {
    background-color: #770f0f;
}

.theme2 .Header-owner {
    border-bottom: 1px solid #7e7a7a;
}

.theme2 .user-story-view h1 {
    color: #770f0f;
}
  
.theme2 .user-story-view h3 {
    color: #770f0f;
}

.theme2 .user-story-view .user-box .user-caption h4 {
    color: #770f0f;
}

/*END THEME 2 - RED*/


/*START THEME 3 - */

/*build.css*/
.theme3 .u-color-teal-50 {
    color: #D50A28!important
}

.theme3 .u-background-teal-50 {
    background-color: #D50A28!important
}

.theme3 .u-color-10 {
    color: #dba3aa!important
}

.theme3 .Linklist-link.Linklist-link--lev3,
.theme3 .u-background-10 {
    background-color: #dba3aa!important
}

.theme3 .u-color-20 {
    color: #dba3aa!important
}

.theme3 .Linklist-link.Linklist-link--lev2,
.theme3 .Linklist-link.Linklist-link--lev2:hover,
.theme3 .u-background-20 {
    background-color: #dba3aa!important
}

.theme3 .Header-owner,
.theme3 .u-color-40 {
    color: #7e7a7a!important
}

.theme3 .u-background-40 {
    background-color: #7e7a7a!important
}

.theme3 .Accordion--default .Accordion-link,
.theme3 .ErrorPage-subtitle,
.theme3 .ErrorPage-title,
.theme3 .Header-language-other a,
.theme3 .Linklist-link,
.theme3 .Linklist a,
.theme3 .Share-revealIcon.is-open,
.theme3 .Skiplinks>li>a,
.theme3 .u-color-50 {
    color: #D50A28!important
}

.theme3 .Bullets>li:before,
.theme3 .Share-revealIcon,
.theme3 .Share>ul>li,
.theme3 .u-background-50 {
    background-color: #D50A28!important
}

.theme3 .u-color-60 {
    color: #7e7a7a!important
}

.theme3 .u-background-60 {
    background-color: #7e7a7a!important
}

.theme3 .u-color-80 {
    color: #D50A28!important
}

.theme3 .Header-socialIcons [class*=" Icon-"],
.theme3 .Header-socialIcons [class^=Icon-] {
    background-color: #fff;
    color: #D50A28
}

.theme3 .Footer a {
    color: #fff
}

.theme3 .Linklist-link.Linklist-link--lev2,
.theme3 .Linklist-link.Linklist-link--lev2:hover,
.theme3 .Linklist-link.Linklist-link--lev3,
.theme3 .Linklist a:hover,
.theme3 .Megamenu--default .Megamenu-subnavGroup>li>a,
.theme3 .Treeview--default li[aria-expanded=true] li a,
.theme3 .Treeview--default li[aria-expanded=true] li a:hover,
.theme3 .Treeview--default li[aria-expanded=true] li li a,
.theme3 .Treeview--default li[aria-expanded=true] li li a:hover,
.theme3 .u-color-95 {
    color: #0e0c0c!important
}

.theme3 .ScrollTop,
.theme3 .u-background-95 {
    background-color: #0e0c0c!important
}

/* main.css */
.theme3 .section-nav a {
    color: #D50A28;
}

.theme3 .tools-wrapper .tools-shadow {
    color: #D50A28;
} 

.theme3 #main .project-title-wrapper .project-shadow1 {
    color: #D50A28;
}

.theme3 #main .project-title-wrapper .project-shadow2 {
    color: #7e7a7a;
}

.theme3 .Megamenu--default .Megamenu-subnavGroup > li > ul > li a {
    color: #D50A28 !important;
}    
    
.theme3 .Megamenu--default .Megamenu-subnavGroup > li > a {
    color: #D50A28 !important;
}

.theme3 .Header-slim li.delimiter a {
    border-right: 0.1rem solid #7e7a7a; 
}

.theme3 .Header-owner {
    border-bottom: 1px solid #7e7a7a;
}    

/*style.css*/
.theme3 .category-box .category-item.active {
    border: 1px solid #D50A28;
    color:#D50A28;
}

.theme3 .category-box .category-item.active:hover {
    color:#D50A28;
}

.theme3 .category-list .category-item.active {
    border: 1px solid #D50A28!important;
    color:#D50A28!important;
}

.theme3 .category-list .category-item.active:hover {
    color:#D50A28!important;
}

.theme3 .titleSeparator {
    border-top: 2px solid #D50A28;
}

.theme3 .titleSeparator .title {
    background-color: #D50A28;
}

/*.titleSeparatorVert {
     border-top: 2px solid #D50A28; 
}*/

.theme3 .titleSeparatorVert .title {
    background-color: #D50A28;
}

.theme3 .Header-owner {
    border-bottom: 1px solid #7e7a7a;
}

.theme3 .user-story-view h1 {
    color: #D50A28;
}
  
.theme3 .user-story-view h3 {
    color: #D50A28;
}

.theme3 .user-story-view .user-box .user-caption h4 {
    color: #D50A28;
}

/*END THEME 3 - RED*/

/*START THEME 4 - */

/*build.css*/
.theme4 .u-color-teal-50 {
    color: #3A6095!important
}

.theme4 .u-background-teal-50 {
    background-color: #3A6095!important
}

.theme4 .u-color-10 {
    color: #adcceb!important
}

.theme4 .Linklist-link.Linklist-link--lev3,
.theme4 .u-background-10 {
    background-color: #adcceb!important
}

.theme4 .u-color-20 {
    color: #adcceb!important
}

.theme4 .Linklist-link.Linklist-link--lev2,
.theme4 .Linklist-link.Linklist-link--lev2:hover,
.theme4 .u-background-20 {
    background-color: #adcceb!important
}

.theme4 .Header-owner,
.theme4 .u-color-40 {
    color: #062853!important
}

.theme4 .u-background-40 {
    background-color: #062853!important
}

.theme4 .Accordion--default .Accordion-link,
.theme4 .ErrorPage-subtitle,
.theme4 .ErrorPage-title,
.theme4 .Header-language-other a,
.theme4 .Linklist-link,
.theme4 .Linklist a,
.theme4 .Share-revealIcon.is-open,
.theme4 .Skiplinks>li>a,
.theme4 .u-color-50 {
    color: #3A6095!important
}

.theme4 .Bullets>li:before,
.theme4 .Share-revealIcon,
.theme4 .Share>ul>li,
.theme4 .u-background-50 {
    background-color: #3A6095!important
}

.theme4 .u-color-60 {
    color: #062853!important
}

.theme4 .u-background-60 {
    background-color: #062853!important
}

.theme4 .u-color-80 {
    color: #3A6095!important
}

.theme4 .Header-socialIcons [class*=" Icon-"],
.theme4 .Header-socialIcons [class^=Icon-] {
    background-color: #fff;
    color: #3A6095
}

.theme4 .Footer a {
    color: #fff
}

.theme4 .Linklist-link.Linklist-link--lev2,
.theme4 .Linklist-link.Linklist-link--lev2:hover,
.theme4 .Linklist-link.Linklist-link--lev3,
.theme4 .Linklist a:hover,
.theme4 .Megamenu--default .Megamenu-subnavGroup>li>a,
.theme4 .Treeview--default li[aria-expanded=true] li a,
.theme4 .Treeview--default li[aria-expanded=true] li a:hover,
.theme4 .Treeview--default li[aria-expanded=true] li li a,
.theme4 .Treeview--default li[aria-expanded=true] li li a:hover,
.theme4 .u-color-95 {
    color: #0e0c0c!important
}

.theme4 .ScrollTop,
.theme4 .u-background-95 {
    background-color: #0e0c0c!important
}

/* main.css */
.theme4 .section-nav a {
    color: #3A6095;
}

.theme4 .tools-wrapper .tools-shadow {
    color: #3A6095;
} 

.theme4 #main .project-title-wrapper .project-shadow1 {
    color: #3A6095;
}

.theme4 #main .project-title-wrapper .project-shadow2 {
    color: #062853;
}

.theme4 .Megamenu--default .Megamenu-subnavGroup > li > ul > li a {
    color: #3A6095 !important;
}    
    
.theme4 .Megamenu--default .Megamenu-subnavGroup > li > a {
    color: #3A6095 !important;
}

.theme4 .Header-slim li.delimiter a {
    border-right: 0.1rem solid #062853; 
}

.theme4 .Header-owner {
    border-bottom: 1px solid #062853;
}    

/*style.css*/
.theme4 .category-box .category-item.active {
    border: 1px solid #3A6095;
    color:#3A6095;
}

.theme4 .category-box .category-item.active:hover {
    color:#3A6095;
}

.theme4 .category-list .category-item.active {
    border: 1px solid #3A6095!important;
    color:#3A6095!important;
}

.theme4 .category-list .category-item.active:hover {
    color:#3A6095!important;
}

.theme4 .titleSeparator {
    border-top: 2px solid #3A6095;
}

.theme4 .titleSeparator .title {
    background-color: #3A6095;
}

/*.titleSeparatorVert {
     border-top: 2px solid #3A6095; 
}*/

.theme4 .titleSeparatorVert .title {
    background-color: #3A6095;
}

.theme4 .Header-owner {
    border-bottom: 1px solid #062853;
}

.theme4 .user-story-view h1 {
    color: #3A6095;
}
  
.theme4 .user-story-view h3 {
    color: #3A6095;
}

.theme4 .user-story-view .user-box .user-caption h4 {
    color: #3A6095;
}

/*END THEME 4 - RED*/