@import url(https://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

.value {
  font-size: 0.7em;
} 

.legend {
  font-size: 12px;
} 

.bar--positive { fill: steelblue; }
.bar--positiveF { fill: darkblue; }
.bar--neutral { fill: wheat; }
.bar--neutralF { fill: tan; }
.bar--negative { fill: firebrick; }
.bar--negativeF { fill: darkred; }

body {
  background: white;
  color: #333;
  font-family: Helvetica Neue;
  margin: 0.5 auto 2em auto;
  top: 0%;
  bottom: 0%;
  left: 10%;
  right: 5%;
}

.container {
  padding-right: 1%;
  padding-left: 1%;
  margin-right: 0%;
  margin-left: 5%;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 1em 1em 1em 1em;
}


h1, h2 {
  text-rendering: optimizeLegibility;
}

body > p, li > p {
  line-height: 1.5em;
}

textarea {
  font-size: 100%;
}

div {
  /* overflow: scroll; */
  margin: 0em 0em 0em 1em;  
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

text {
  font-size: 0.8em;
}

p.credit {
  font-size: 0.8em;
  color: gray;
}

div.instructions {
  color: red;
  font-size: 0.8em;
}